body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

pre{
	white-space:pre-wrap;/*css-3*/
	white-space:-moz-pre-wrap;/*Mozilla,since1999*/
	white-space:-pre-wrap;/*Opera4-6*/
	white-space:-o-pre-wrap;/*Opera7*/
	word-wrap:break-word;/*InternetExplorer5.5+*/

}

.customers td
{
	border:1px solid #98bf21;
	background-color:#EAF2D3;
	line-height:200%;
}
